title     = "Buat Sektor Kepolisian"
url       = "sektor/buat"
layout    = "default"
is_hidden = 0

[AdminSector]
==
function onStart() {
    $this->page->activePage = 'admin-sector';
}
==

{% partial 'button-back' page='sector/index'|page %}
<div class="card">
    <div class="card-body">
        <form data-request="onSave" data-request-flash>
            {% partial 'sector/form' %}

            <div class="form-group">
                <button class="btn btn-primary btn-block btn-round" type="submit" data-attach-loading>SIMPAN</button>
            </div>
        </form>
    </div>
</div>
