<div class="form-group">
    <label>Nama</label>
    <input type="text" class="form-control" name="name" value="{{ sector.name }}">
</div>

<div class="form-group">
    <label>Provinsi</label>
    <select name="province_id" class="form-control">
        <option value="">-- Pilih --</option>
    </select>
</div>

<div class="form-group">
    <label>Kota/Kabupaten</label>
    <select name="regency_id" class="form-control">
        <option value="">-- Pilih --</option>
    </select>
</div>

<div class="form-group">
    <label>Kecamatan</label>
    <select name="district_id" class="form-control">
        <option value="">-- Pilih --</option>
    </select>
</div>

<div class="form-group">
    <label>Kelurahan</label>
    <select name="village_id" class="form-control">
        <option value="">-- Pilih --</option>
    </select>
</div>

<div class="form-group">
    <label>Alamat Lengkap</label>
    <textarea rows="5" class="form-control" name="address">{{ sector.address }}</textarea>
</div>
