<div class="card">
    <div class="card-header">
        <h4>INFORMASI KETERSEDIAAN BERKAS</h4>
    </div>

    <div class="card-body p-0">
        <table class="table">
            <tbody>
               <tr>
                    <td>Tipe</td>
                    <td class="text-right">
                        {{ item.service_name }}
                    </td>
               </tr>

               <tr>
                    <td>Jenis</td>
                    <td class="text-right">
                        {% if item.requestable.type == 'c' %}
                            SIM C
                        {% endif %}

                        {% if item.requestable.type == 'a' %}
                            SIM A
                        {% endif %}
                    </td>
               </tr>

               <tr>
                    <td>Berkas: Kartu Pelajar</td>
                    <td class="text-right">
                    {% if item.requestable.hasStudent %}
                        <i class="fa fa-check-circle text-success"></i>
                    {% else %}
                        <i class="fa fa-times-circle text-danger"></i>
                    {% endif %}
                    </td>
                </tr>

                <tr>
                    <td>Berkas: Kartu Bukti Tanda Kesehatan Dari Dokter</td>
                    <td class="text-right">
                    {% if item.requestable.hasHealthy %}
                        <i class="fa fa-check-circle text-success"></i>
                    {% else %}
                        <i class="fa fa-times-circle text-danger"></i>
                    {% endif %}
                    </td>
                </tr>

                <tr>
                    <td>Berkas: Kartu Bukti Tanda Psikologi Dari Dokter</td>
                    <td class="text-right">
                    {% if item.requestable.hasPsychology %}
                        <i class="fa fa-check-circle text-success"></i>
                    {% else %}
                        <i class="fa fa-times-circle text-danger"></i>
                    {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
