<div class="card">
    <div class="card-header">
        <h4>INFORMASI KETERSEDIAAN BERKAS</h4>
    </div>

    <div class="card-body p-0">
        <table class="table">
            <tbody>
               <tr>
                   	<td>Tipe</td>
                   	<td class="text-right">
                   		{{ item.service_name }}
                   	</td>
               </tr>

               <tr>
                    <td>Jenis</td>
                    <td class="text-right">
                        {% if item.requestable.type == 'c' %}
                            SIM C
                        {% endif %}

                        {% if item.requestable.type == 'a' %}
                            SIM A
                        {% endif %}

                        {% if item.requestable.type == 'a-umum' %}
                            SIM A UMUM
                        {% endif %}


                        {% if item.requestable.type == 'b1' %}
                            SIM B1
                        {% endif %}

                        {% if item.requestable.type == 'b1-umum' %}
                            SIM B1 UMUM
                        {% endif %}

                        {% if item.requestable.type == 'b2' %}
                            SIM B2
                        {% endif %}

                        {% if item.requestable.type == 'b2-umum' %}
                            SIM B2 UMUM
                        {% endif %}
                    </td>
               </tr>

                <tr>
                    <td>Berkas: SIM Lama</td>
                    <td class="text-right">
                        {% if item.service.code == 'sim-extend' %}
                   			<i class="fa fa-check-circle text-success"></i>
                   		{% else %}
                   			<i class="fa fa-times-circle text-danger"></i>
                   		{% endif %}
                   	</td>
               	</tr>

               	<tr>
					<td>Berkas: Kartu Identitas (EKTP)</td>
					<td class="text-right">
					{% if item.requestable.hasKtp %}
						<i class="fa fa-check-circle text-success"></i>
					{% else %}
						<i class="fa fa-times-circle text-danger"></i>
					{% endif %}
					</td>
               	</tr>

                <tr>
                    <td>Berkas: Fotocopy Kartu Identitas (EKTP)</td>
                    <td class="text-right">
                    {% if item.requestable.hasKtpCopy %}
                        <i class="fa fa-check-circle text-success"></i>
                    {% else %}
                        <i class="fa fa-times-circle text-danger"></i>
                    {% endif %}
                    </td>
                </tr>

               	<tr>
					<td>Berkas: Kartu Bukti Tanda Kesehatan Dari Dokter</td>
					<td class="text-right">
					{% if item.requestable.hasHealthy %}
						<i class="fa fa-check-circle text-success"></i>
					{% else %}
						<i class="fa fa-times-circle text-danger"></i>
					{% endif %}
					</td>
               	</tr>

                {% if item.requestable.type =='a-umum' or item.requestable.type =='b1-umum' or item.requestable.type =='b2-umum' %}
                <tr>
                    <td>Berkas: Kartu Bukti Tanda Psikologi Dari Dokter</td>
                    <td class="text-right">
                    {% if item.requestable.hasPsychology %}
                        <i class="fa fa-check-circle text-success"></i>
                    {% else %}
                        <i class="fa fa-times-circle text-danger"></i>
                    {% endif %}
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
