<table class="table datatable-request">
    <tfoot>
        <tr>
            <th>Kode</th>
            <th>Layanan</th>
            <th>Tanggal</th>
            <th></th>
        </tr>
    </tfoot>

    <thead>
        <tr>
            <th>Kode</th>
            <th>Layanan</th>
            <th>Tanggal</th>
            <th class="text-right">
                <a href="{{ 'request/add'|page }}?ref={{ queue.parameter }}" target="_blank" class="btn btn-success btn-round btn-sm">
                    <i class="fa fa-plus-circle"></i> TAMBAH
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for request in requests %}
        <tr>
            <td>{{ request.code }}</td>
            <td>{{ request.items[0].service.name }}</td>
            <td>{{ request.items[0].created_at|date('Y-m-d H:i') }}</td>
            <td class="text-right">
                <a href="{{ 'request/item'|page({parameter: request.items[0].parameter}) }}?ref={{ queue.parameter }}" target="_blank" class="btn btn-primary btn-round btn-sm">
                    GUNAKAN
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
// Setup - add a text input to each footer cell
$('.datatable-request tfoot th').each( function() {
    var title = $(this).text();
    $(this).html( '<input type="text" class="form-control" placeholder="Cari '+title+'" />' );
} );

// DataTable
var table = $('.datatable-request').DataTable({'theme':'bootstrap'});

// Apply the search
table.columns().every( function () {
    var that = this;

    $('input', this.footer()).on('keyup change', function () {
        if(that.search() !== this.value) {
            that
                .search( this.value )
                .draw();
        }
    });
});

$('.datatable-request').DataTable().columns(1).order('desc').draw();
</script>
