<div class="form-group">
    <label>Loket</label>
    <select name="counter_id" class="form-control">
    	<option value="">-- Pilih --</option>
    	{% for counter in counters %}
    	<option value="{{ counter.id }}" {{ terminal.counter_id == counter.id ? 'selected' : '' }}>{{ counter.name }}</option>
    	{% endfor %}
    </select>
</div>

<div class="form-group">
    <label>Nomor</label>
    <input type="number" class="form-control" name="number" min="0" max="10" value="{{ terminal.number }}">
</div>
