title     = "Buat Layanan"
url       = "layanan/buat"
layout    = "default"
is_hidden = 0

[AdminService]
==
use Pulangpisau\Service\Models\Service as ServiceModels;

function onInit() {
    $picture = $this->addComponent(
        'Responsiv\Uploader\Components\ImageUploader',
        'pictureUploader',
        [
            'deferredBinding' => true,
            'maxSize'         => '2',
        ]
    );
    $picture->bindModel('picture', new ServiceModels);
}

function onStart() {
    $this->page->activePage = 'admin-service';
}
==
{% set serviceParents = AdminService.getParent %}

{% partial 'button-back' page='service/index'|page %}
{{ form_ajax('AdminService::onSave', {'data-request-flash': true}) }}
<div class="card">
    <div class="card-header">
        <h4>TURUNAN</h4>
    </div>
    <div class="card-body">
        <select name="parent_id" id="" class="form-control"
            data-request="AdminService::onSelectParent"
            data-request-update="'service/form': '[data-target-services]'"
            data-request-success="initSummernote();">
            <option value="">-- Pilih --</option>
            <option value="new">Buat Layanan Baru</option>
            {% for serviceParent in serviceParents %}
            <option value="{{ serviceParent.id }}">{{ serviceParent.name }}</option>
            {% endfor %}
        </select>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div data-target-services></div>

        <div class="form-group">
            <button class="btn btn-primary btn-block btn-round" type="submit" data-attach-loading>SIMPAN</button>
        </div>
    </div>
</div>
{{ form_close() }}
