title     = "Ubah Layanan"
url       = "layanan/ubah/:parameter"
layout    = "default"
is_hidden = 0

[AdminService]

[AdminServiceDetail]
parameter="{{ :parameter }}"
==
function onStart() {
    $this->page->activePage = 'admin-service';
}
==
{% partial 'button-back' page='service/index'|page %}
{{ form_ajax('AdminServiceDetail::onSave', {'data-request-flash': true}) }}

    {% if not service.parent_id %}
    <div class="card">
        <div class="card-header">
            <h4>Mode Layanan</h4>
        </div>
        <div class="card-body p-0">
            {% partial 'service/form-option' service=service %}
        </div>
    </div>
    {% endif %}

    <div class="card">
        <div class="card-header">
            <h4>FORMULIR LAYANAN</h4>
        </div>
        <div class="card-body">
            {% component 'formulirUploader' %}
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            {% partial 'service/form' %}

            <div class="form-group">
                <button class="btn btn-primary btn-block btn-round" type="submit" data-attach-loading>SIMPAN</button>
            </div>
        </div>
    </div>
{{ form_close() }}
