title     = "Buat Item Layanan"
url       = "layanan/item/buat"
layout    = "default"
is_hidden = 0

[AdminServiceItem]
==
use Pulangpisau\Service\Models\ServiceItem as ServiceItemModels;

function onInit() {
    $pdf = $this->addComponent(
        'Responsiv\Uploader\Components\FileUploader',
        'pdfUploader',
        [
            'deferredBinding' => true,
            'maxSize'         => '2',
            'fileTypes'       => 'pdf'
        ]
    );
    $pdf->bindModel('pdf', new ServiceItemModels);

    $video = $this->addComponent(
        'Responsiv\Uploader\Components\FileUploader',
        'videoUploader',
        [
            'deferredBinding' => true,
            'maxSize'         => '2',
            'fileTypes'       => 'mp4'
        ]
    );
    $video->bindModel('video', new ServiceItemModels);
}

function onStart() {
    $this->page->activePage = 'admin-service';
}
==

{% partial 'button-back' page='service/item'|page %}
<div class="card">
    {{ form_ajax('AdminServiceItem::onSave', {'data-request-flash': true}) }}
        {% partial 'service/form-item' services=services %}

        <div class="form-group">
            <button class="btn btn-primary btn-block btn-round" type="submit" data-attach-loading>SIMPAN</button>
        </div>
    {{ form_close() }}
</div>
