title     = "Buat Unit Petugas"
url       = "petugas/unit/buat"
layout    = "default"
is_hidden = 0

[AdminUnit]
==
function onStart() {
	$this->page->activePage      = 'admin-officer';
	$this->page->activeChildPage = 'officer-unit';
}
==

{% partial 'button-back' page='officer-unit/index'|page %}
<div class="card">
    <div class="card-body">
        <form data-request="onSave" data-request-flash>
            {% partial 'officer-unit/form' %}

            <div class="form-group">
                <button class="btn btn-primary btn-block btn-round" type="submit" data-attach-loading>SIMPAN</button>
            </div>
        </form>
    </div>
</div>
