title     = "Daftar Unit Petugas"
url       = "petugas/unit"
layout    = "default"
is_hidden = 0

[AdminUnit]
==
function onStart() {
    $this->page->activePage      = 'admin-officer';
    $this->page->activeChildPage = 'officer-unit';
}
==
{% set units = AdminUnit.getAll %}

{% partial 'button-add' page='officer-unit/add'|page %}
<div class="card">
    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table table-striped datatable">
                <tfoot>
                    <tr>
                        <th>Nama</th>
                        <th>Kode</th>
                        <th>Tanggal</th>
                    </tr>
                </tfoot>

                <thead>
                    <tr>
                        <th>Nama</th>
                        <th>Kode</th>
                        <th class="text-right">Dibuat pada</th>
                    </tr>
                </thead>

                <tbody>
                    {% for key, unit in units %}
                    <tr>
                        <td>{{ unit.name }}
                            <div class="table-links">
                                <a href="{{ 'officer-unit/edit'|page({parameter: unit.parameter}) }}">Ubah</a>
                                <div class="bullet"></div>
                                <a href="#" class="text-danger">Hapus</a>
                            </div>
                        </td>
                        <td>{{ unit.code }}</td>
                        <td class="text-right">{{ unit.created_at|date('Y-m-d H:i') }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% put scripts %}
<link rel="stylesheet" href="{{ [
    'assets/modules/jquery-selectric/selectric.css'
]|theme }}">
<script src="{{ [
    'assets/modules/jquery-selectric/jquery.selectric.min.js',
    'assets/js/page/features-posts.js'
]|theme }}"></script>
{% endput %}
