url       = "penilaian/detail/:parameter"
layout    = "default"
is_hidden = 0

[AdminFeedbackDetail]
parameter="{{ :parameter }}"
==
function onStart() {
    $this->page->activePage = 'admin-feedback';
}
==
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="text-left">
                    <a href="{{ 'feedback/index' }}" class="btn btn-lg btn-primary btn-round">
                        <i class="fa fa-arrow-left"></i> KEMBALI
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="text-right">
                    <a href="{{ 'feedback/file'|page({parameter: feedback.parameter}) }}" class="btn btn-lg btn-primary btn-round" target="_blank">
                        <i class="fa fa-download"></i> UNDUH RINGKASAN
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h4>INFORMASI DASAR</h4>
    </div>

    <div class="card-body p-0">
        <table class="table">
            <tr>
                <th>Kode Permohonan</th>
                <th class="text-right">{{ feedback.item.request.code }}</th>
            </tr>
            <tr>
                <td>Jenis Layanan</td>
                <td class="text-right">[{{ feedback.item.service.parent.name }}] - {{ feedback.item.service_name }}</td>
            </tr>
            <tr>
                <td>Tanggal Dibuat</td>
                <td class="text-right">{{ feedback.item.created_at|date('l, d F Y H:i') }}</td>
            </tr>
            <tr>
                <td>Tanggal Kehadiran</td>
                <td class="text-right">{{ feedback.item.scheduled_at ? feedback.item.scheduled_at|date('l, d F Y') : 'Tidak ada data' }}</td>
            </tr>
            <tr>
                <td>Sumber</td>
                <td class="text-right">
                    {% if feedback.item.channel == 'onsite' %}
                    Loket
                    {% endif %}

                    {% if feedback.item.channel == 'online' %}
                    Aplikasi
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Administrator</td>
                <td class="text-right">{{ feedback.item.user.officer.name }}</td>
            </tr>
        </table>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h4>INFORMASI PENILAIAN</h4>
    </div>

    <div class="card-body p-0">
        <table class="table">
            <tr>
                <td>Dibuat Pada</td>
                <td class="text-right">{{ feedback.created_at|date('Y-m-d H:i') }}</td>
            </tr>

            <tr>
                <td>Nilai Kepuasan</td>
                <td class="text-right">
                    {% if feedback.value %}
                        <span class="text-success"><i class="fa fa-check-circle"></i> Puas</span>
                    {% else %}
                        <span class="text-danger"><i class="fa fa-times-circle"></i> Tidak Puas</span>
                    {% endif %}
                </td>
            </tr>

            <tr>
                <td>Komentar</td>
                <td class="text-right">{{ feedback.comment ? feedback.comment : 'Tidak ada komentar' }}</td>
            </tr>
        </table>
    </div>
</div>
