title     = "Buat Permohonan"
url       = "permohonan/buat"
layout    = "default"
is_hidden = 0

[AdminRequest]

[AdminRequestPermitSim]
[AdminRequestPermitSkck]
[AdminRequestPermitTnkb]
[AdminRequestPermitDrug]
[AdminRequestPermitCrowd]
[AdminRequestPermitHearse]
[AdminRequestPermitActivity]
==
function onStart() {
    $this->page->activePage = 'admin-request';
}
==
{% if not input('ref') %}
{% set services = AdminRequest.getService %}
{% endif %}

{% partial 'button-back' page='request/index'|page %}
<div class="card">
    <div class="card-header">
        <h4>JENIS LAYANAN</h4>
    </div>
    <div class="card-body">
        <select name="service_id" class="form-control"
            data-request="AdminRequest::onSelectService"
            data-request-update="'request/form-index': '[data-target-service]'"
            data-request-success="initDatepicker();">
            <option value="">-- Pilih --</option>
            {% for service in services %}
            <option value="{{ service.id }}">{{ service.name }}</option>
            {% endfor %}
        </select>
    </div>
</div>

<div data-target-service></div>

{% put scripts %}
<script>
$('body').on('click', '[data-add-officer]', function(e){
    var button = $(this);
    var length = $('[data-target-officer]').length;

    $.request('AdminRequest::onAddOfficer', {
        data: {
            length  : length,
        },
        beforeSend:function() {
            button.attr('disabled', true);
        },
        success: function(data) {
            this.success(data).done(function() {
                $('[data-target-officers]').append(data.officer)
            });
            button.attr('disabled', false);
        }
    });
});

$('body').on('click', '[data-remove-officer]', function(e){
    var button = $(this);
    var length = $('[data-target-officer]').length;
    var isExist = button.data('parameter');

    if(confirm('Hapus petugas ini?')) {
        if(isExist) {
            $.request('AdminRequest::onRemoveOfficer', {
                data: {
                    parameter  : isExist,
                },
                beforeSend:function() {
                    button.attr('disabled', true);
                },
                success: function(data) {
                    this.success(data).done(function() {
                        $('[data-target-officers]').html(data.expertise);
                        $.oc.flashMsg({ text: data.message, class: data.type })
                    });
                    button.attr('disabled', false);
                },
            });

            return;
        }

        button.attr('disabled', true);
        $('[data-target-officer]')[length-1].remove();
        button.attr('disabled', false);
    }
});
</script>
{% endput %}
