title     = "Daftar Permohonan"
url       = "permohonan/detail/:parameter"
layout    = "default"
is_hidden = 0

[AdminRequestDetail]
parameter="{{ :parameter }}"
==
function onStart() {
    $this->page->activePage = 'admin-request';
}
==

{% partial 'button-back' page='request/index'|page %}
<div class="card">
    <div class="card-header">
        <h4>INFORMASI DASAR</h4>
    </div>

    <div class="card-body p-0">
        <table class="table mb-0">
            <tr>
                <td>Kode Permohonan</td>
                <td class="text-right">{{ request.code }}</td>
            </tr>
            <tr>
                <td>Permohonan</td>
                <td class="text-right">{{ request.items|length }} Permohonan</td>
            </tr>
        </table>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h4>INFORMASI LAYANAN</h4>

        <div class="float-right ml-auto">
            <a href="#" class="btn btn-info btn-round">
                <i class="fa fa-plus-circle"></i> TAMBAH PERMOHONAN
            </a>
        </div>
    </div>

    <div class="card-body p-0">
        <table class="table mb-0">
            <thead>
                <tr>
                    <th>Status</th>
                    <th>Layanan</th>
                    <th>Tanggal</th>
                    <th>Petugas</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {% for item in request.items %}
                <tr>
                    <td>
                        {% if item.status == 'request' %}
                            Menunggu Konfirmasi
                        {% endif %}
                    </td>
                    <td>
                        {{ item.service.name }} <br>
                        <span class="text-muted">
                            {% if item.channel == 'onsite' %}
                            Pelayanan Loket
                            {% endif %}

                            {% if item.channel == 'online' %}
                            Pelayanan Online
                            {% endif %}
                        </span>
                    </td>
                    <td>{{ item.created_at|date('Y-m-d H:i') }}</td>
                    <td>{{ item.user.officer.name }}</td>
                    <td class="text-right">
                        <div class="dropdown open">
                            <button class="btn btn-round btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                PILIHAN
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <a target="_blank" class="dropdown-item" href="{{ 'request/item'|page({parameter: item.parameter}) }}">Lihat</a>
                                <a target="_blank" class="dropdown-item" href="#">Ubah</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Hapus</a>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
