title     = "Daftar Permohonan"
url       = "permohonan"
layout    = "default"
is_hidden = 0

[AdminRequest]
==
function onStart() {
    $this->page->activePage = 'admin-request';
}
==
{% set requests = AdminRequest.getAllRequest %}
<div class="card">
    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table table-striped datatable">
                <tfoot>
                    <tr>
                        <th>Kode</th>
                        <th>Permohonan</th>
                        <th>Sumber</th>
                        <th>Status</th>
                        <th>Tanggal</th>
                    </tr>
                </tfoot>

                <thead>
                    <tr>
                        <th>Kode</th>
                        <th>Permohonan</th>
                        <th>Sumber</th>
                        <th>Status</th>
                        <th class="text-right">Dibuat pada</th>
                    </tr>
                </thead>

                <tbody>
                    {% for key, request in requests %}
                    <tr>
                        <td>{{ request.code }}
                            <div class="table-links">
                                <a href="{{ 'request/item'|page({parameter: request.items[0].parameter}) }}" target="_blank">Lihat</a>
                                <div class="bullet"></div>
                                <a href="{{ 'request/item-edit'|page({parameter: request.items[0].parameter}) }}">Ubah</a>
                                <div class="bullet"></div>
                                <a href="#" class="text-danger"
                                    data-request="onDelete"
                                    data-request-data="'parameter': '{{ request.items[0].parameter }}'"
                                    data-request-confirm="Hapus permohonan ini?"
                                    data-attach-loading data-request-flash>Hapus</a>
                            </div>
                        </td>
                        <td>{{ request.items[0].service.parent.name }}</td>
                        <td>
                            {% if request.items[0].channel == 'onsite' %}
                                Loket
                            {% endif %}

                            {% if request.items[0].channel == 'online' %}
                                Aplikasi
                            {% endif %}
                        </td>
                        <td>
                            {% if request.items[0].status == 'request' %}
                                <span class="text-warning">
                                    Menunggu Konfirmasi
                                </span>
                            {% endif %}

                            {% if request.items[0].status == 'waiting' %}
                                <span class="text-warning">
                                    Menunggu Konfirmasi
                                </span>
                            {% endif %}

                            {% if request.items[0].status == 'progress' %}
                                <span class="text-info">
                                    Sedang diproses
                                </span>
                            {% endif %}

                            {% if request.items[0].status == 'finish' %}
                                <span class="text-success">
                                    Selesai
                                </span>
                            {% endif %}

                            {% if request.items[0].status == 'done' %}
                                <span class="text-success">
                                    Ditutup
                                </span>
                            {% endif %}
                        </td>
                        <td class="text-right">{{ request.created_at|date('Y-m-d H:i') }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% put scripts %}
<link rel="stylesheet" href="{{ [
    'assets/modules/jquery-selectric/selectric.css'
]|theme }}">
<script src="{{ [
    'assets/modules/jquery-selectric/jquery.selectric.min.js',
    'assets/js/page/features-posts.js'
]|theme }}"></script>
{% endput %}
