<div class="card">
    <div class="card-header">
        <h4>INFORMASI KETERSEDIAAN BERKAS</h4>
    </div>

    <div class="card-body p-0">
        <table class="table">
            <tbody>
               	<tr>
					<td>Berkas: Kartu Identitas (KTP)</td>
					<td class="text-right">
					{% if item.requestable.hasKtp %}
						<i class="fa fa-check-circle text-success"></i>
					{% else %}
						<i class="fa fa-times-circle text-danger"></i>
					{% endif %}
					</td>
               	</tr>
            </tbody>
        </table>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h4>FORMULIR KEHILANGAN</h4>
    </div>

    <div class="card-body">
    	 <div class="mb-4">
            <p class="mb-0"><b>Jenis Kehilangan</b></p>
            {{ item.requestable.kind }}
        </div>

         <div class="mb-4">
            <p class="mb-0"><b>Barang</b></p>
            {{ item.requestable.content|md }}
        </div>

         <div class="mb-4">
            <p class="mb-0"><b>Tanggal</b></p>
            {{ item.requestable.date }}
        </div>

         <div class="mb-4">
            <p class="mb-0"><b>Waktu</b></p>
            {{ item.requestable.time }}
        </div>

         <div class="mb-4">
            <p class="mb-0"><b>Tempat</b></p>
            {{ item.requestable.place }}
        </div>

         <div class="mb-4">
            <p class="mb-0"><b>Kronologi</b></p>
            {{ item.requestable.description }}
        </div>
    </div>
</div>
