<audio autoplay>
  <source src="{{ 'assets/voice/bell-airport.mp3'|theme }}" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
<audio onloadeddata="var audioPlayer = this; setTimeout(function() { audioPlayer.play(); }, 2500)">
  <source src="{{ 'assets/voice/antrian.mp3'|theme }}" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>

{% if queue.counter.code|lower == 'a' %}
<audio onloadeddata="var audioPlayer = this; setTimeout(function() { audioPlayer.play(); }, 3300)">
  <source src="{{ 'assets/voice/a.mp3'|theme }}" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
{% endif %}
{% if queue.counter.code|lower == 'b' %}
<audio onloadeddata="var audioPlayer = this; setTimeout(function() { audioPlayer.play(); }, 3300)">
  <source src="{{ 'assets/voice/b.mp3'|theme }}" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
{% endif %}
{% if queue.counter.code|lower == 'c' %}
<audio onloadeddata="var audioPlayer = this; setTimeout(function() { audioPlayer.play(); }, 3300)">
  <source src="{{ 'assets/voice/c.mp3'|theme }}" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
{% endif %}

{% if queue.number == '0' %}
<audio onloadeddata="var audioPlayer = this; setTimeout(function() { audioPlayer.play(); }, 4100)">
  <source src="{{ 'assets/voice/0.mp3'|theme }}" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
{% endif %}

{% if queue.number == '1' %}
<audio onloadeddata="var audioPlayer = this; setTimeout(function() { audioPlayer.play(); }, 4100)">
  <source src="{{ 'assets/voice/1.mp3'|theme }}" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
{% endif %}
{% if queue.number == '2' %}
<audio onloadeddata="var audioPlayer = this; setTimeout(function() { audioPlayer.play(); }, 4100)">
  <source src="{{ 'assets/voice/2.mp3'|theme }}" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
{% endif %}
{% if queue.number == '3' %}
<audio onloadeddata="var audioPlayer = this; setTimeout(function() { audioPlayer.play(); }, 4100)">
  <source src="{{ 'assets/voice/3.mp3'|theme }}" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
{% endif %}
{% if queue.number == '4' %}
<audio onloadeddata="var audioPlayer = this; setTimeout(function() { audioPlayer.play(); }, 4100)">
  <source src="{{ 'assets/voice/4.mp3'|theme }}" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
{% endif %}
{% if queue.number == '5' %}
<audio onloadeddata="var audioPlayer = this; setTimeout(function() { audioPlayer.play(); }, 4100)">
  <source src="{{ 'assets/voice/5.mp3'|theme }}" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
{% endif %}
{% if queue.number == '6' %}
<audio onloadeddata="var audioPlayer = this; setTimeout(function() { audioPlayer.play(); }, 4100)">
  <source src="{{ 'assets/voice/6.mp3'|theme }}" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
{% endif %}
{% if queue.number == '7' %}
<audio onloadeddata="var audioPlayer = this; setTimeout(function() { audioPlayer.play(); }, 4100)">
  <source src="{{ 'assets/voice/7.mp3'|theme }}" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
{% endif %}
{% if queue.number == '8' %}
<audio onloadeddata="var audioPlayer = this; setTimeout(function() { audioPlayer.play(); }, 4100)">
  <source src="{{ 'assets/voice/8.mp3'|theme }}" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
{% endif %}
{% if queue.number == '9' %}
<audio onloadeddata="var audioPlayer = this; setTimeout(function() { audioPlayer.play(); }, 4100)">
  <source src="{{ 'assets/voice/9.mp3'|theme }}" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
{% endif %}

<audio onloadeddata="var audioPlayer = this; setTimeout(function() { audioPlayer.play(); }, 5200)">
  <source src="{{ 'assets/voice/menuju.mp3'|theme }}" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>

<audio onloadeddata="var audioPlayer = this; setTimeout(function() { audioPlayer.play(); }, 6300)">
  <source src="{{ 'assets/voice/loket.mp3'|theme }}" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>

{% if queue.counter.code|lower == 'a' %}
<audio onloadeddata="var audioPlayer = this; setTimeout(function() { audioPlayer.play(); }, 7200)">
  <source src="{{ 'assets/voice/a.mp3'|theme }}" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
{% endif %}
{% if queue.counter.code|lower == 'b' %}
<audio onloadeddata="var audioPlayer = this; setTimeout(function() { audioPlayer.play(); }, 7200)">
  <source src="{{ 'assets/voice/b.mp3'|theme }}" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
{% endif %}
{% if queue.counter.code|lower == 'c' %}
<audio onloadeddata="var audioPlayer = this; setTimeout(function() { audioPlayer.play(); }, 7200)">
  <source src="{{ 'assets/voice/c.mp3'|theme }}" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
{% endif %}
