<div class="form-group">
    <label>Kecamatan</label>
    <select name="destination_district" class="form-control"
        data-request="AdminRequestPermitHearse::onSelectDestinationDistrict"
        data-request-update="'request/permit-hearse/destination-village': '[data-target-destination-villages]'">>
        <option value="">-- Pilih --</option>
        {% for district in destination_districts %}
        <option value="{{ district.id }}">{{ district.name|ucwords }}</option>
        {% endfor %}
    </select>
</div>
