<div class="form-group">
    <label>Kabupaten</label>
    <select name="destination_regency" class="form-control"
        data-request="AdminRequestPermitHearse::onSelectDestinationRegency"
        data-request-update="'request/permit-hearse/destination-district': '[data-target-destination-districts]', 'request/permit-hearse/destination-village': '[data-target-destination-villages]'">
        <option value="">-- Pilih --</option>
        {% for regency in origin_regencies %}
        <option value="{{ regency.id }}">{{ regency.name|ucwords }}</option>
        {% endfor %}
    </select>
</div>
