<div class="card">
    <div class="card-header">
        <h4>TANGGAL PENGAWALAN</h4>
    </div>

    <div class="card-body">
        <div class="form-group">
            <input type="text" class="form-control datepicker" name="date">
        </div>
    </div>


    <div class="card-header">
        <h4>DATA LOKASI: ASAL</h4>
    </div>

    <div class="card-body">
        <div>
            {% partial 'request/permit-hearse/origin-regency' origin_regencies=origin_regencies %}
        </div>

        <div data-target-origin-districts>
            {% partial 'request/permit-hearse/origin-district' %}
        </div>

        <div data-target-origin-villages>
            {% partial 'request/permit-hearse/origin-village' %}
        </div>

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label>RT</label>
                    <input type="text" class="form-control" name="origin_rt">
                </div>
            </div>

            <div class="col-6">
                <div class="form-group">
                    <label>RW</label>
                    <input type="text" class="form-control" name="origin_rw">
                </div>
            </div>
        </div>


        <div class="form-group">
            <label>Alamat Lengkap</label>
            <textarea name="origin_address" cols="30" rows="10" class="form-control"></textarea>
        </div>
    </div>

    <div class="card-header">
        <h4>DATA LOKAS: TUJUAN</h4>
    </div>

    <div class="card-body">
        <div>
            {% partial 'request/permit-hearse/destination-regency' origin_regencies=origin_regencies %}
        </div>

        <div data-target-destination-districts>
            {% partial 'request/permit-hearse/destination-district' %}
        </div>

        <div data-target-destination-villages>
            {% partial 'request/permit-hearse/destination-village' %}
        </div>

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label>RT</label>
                    <input type="text" class="form-control" name="destination_rt">
                </div>
            </div>

            <div class="col-6">
                <div class="form-group">
                    <label>RW</label>
                    <input type="text" class="form-control" name="destination_rw">
                </div>
            </div>
        </div>


        <div class="form-group">
            <label>Alamat Lengkap</label>
            <textarea name="destination_address" cols="30" rows="10" class="form-control"></textarea>
        </div>
    </div>
</div>
