<div class="form-group">
    <label>Kelurahan</label>
    <select name="origin_village" class="form-control">
        <option value="">-- Pilih --</option>
        {% for village in origin_villages %}
        <option value="{{ village.id }}">{{ village.name|ucwords }}</option>
        {% endfor %}
    </select>
</div>
