<div class="form-group">
    <label>Kabupaten</label>
    <select name="origin_regency" class="form-control"
        data-request="AdminRequestPermitHearse::onSelectOriginRegency"
        data-request-update="'request/permit-hearse/origin-district': '[data-target-origin-districts]', 'request/permit-hearse/origin-village': '[data-target-origin-villages]'">
        <option value="">-- Pilih --</option>
        {% for regency in origin_regencies %}
        <option value="{{ regency.id }}">{{ regency.name|ucwords }}</option>
        {% endfor %}
    </select>
</div>
