<div class="form-group">
    <label>Kecamatan</label>
    <select name="origin_district" class="form-control"
        data-request="AdminRequestPermitHearse::onSelectOriginDistrict"
        data-request-update="'request/permit-hearse/origin-village': '[data-target-origin-villages]'">>
        <option value="">-- Pilih --</option>
        {% for district in origin_districts %}
        <option value="{{ district.id }}">{{ district.name|ucwords }}</option>
        {% endfor %}
    </select>
</div>
