title     = "Loket Layanan"
url       = "loket/layanan/:parameter"
layout    = "default"
is_hidden = 0

[AdminCounterDetail]
parameter="{{ :parameter }}"
==
function onEnd() {
    $this->page->activePage = 'admin-counter';
    $this->page->title      = ucwords('Daftar layanan pada loket '.$this->counter->name);
}
==
{% set services = AdminCounterDetail.getService %}

{% partial 'button-back' page='counter/index'|page %}
<div class="card">
    <div class="card-body">
        <form data-request="onSaveService" data-request-flash>
            <div class="form-group">
                <label>Layanan</label>
                <select name="service_id[]" class="form-control select2" multiple>
                    {% for c in counter.services %}
                    <option value="{{ c.pivot.service_id }}" selected>{{ c.name }}</option>
                    {% endfor %}
                    {% for service in services %}
                    <option value="{{ service.id }}"
                        {% for c in counter.services %}
                            {{ c.pivot.service_id == service.id ? 'selected' : '' }}
                        {% endfor %}>{{ service.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <button class="btn btn-primary btn-block btn-round" type="submit" data-attach-loading>SIMPAN</button>
            </div>
        </form>
    </div>
</div>
