<div class="form-group">
    <label><strong>Provinsi</strong></label>
    <select name="province_id" class="form-control"
        data-request="Location::onGetRegency"
        data-request-update="'location/regency': '[data-target-regencies]', 'location/district': '[data-target-districts]', 'location/village': '[data-target-villages]'">
        <option value="">-- Pilih --</option>
        {% for province in provinces %}
        <option value="{{ province.id }}" {{ province.id == provinceSelected ? 'selected' : '' }}>{{ province.name|ucwords }}</option>
        {% endfor %}
    </select>
</div>
