<div class="form-group">
    <label><strong>Kota / Kabupaten</strong></label>
    <select name="regency_id" class="form-control"
        data-request="Location::onGetDistrict"
        data-request-update="'location/district': '[data-target-districts]', 'location/village': '[data-target-villages]'">
        <option value="">-- Pilih --</option>
        {% for regency in regencies %}
        <option value="{{ regency.id }}" {{ regency.id == regencySelected ? 'selected' : '' }}>{{ regency.name|ucwords }}</option>
        {% endfor %}
    </select>
</div>
