<div class="form-group">
    <label><strong>Kelurahan</strong></label>
    <select name="village_id" class="form-control">
        <option value="">-- Pilih --</option>
        {% for village in villages %}
        <option value="{{ village.id }}" {{ village.id == villageSelected ? 'selected' : '' }}>{{ village.name|ucwords }}</option>
        {% endfor %}
    </select>
</div>
