<div class="card">
    <div class="card-header">
        <h4>INFORMASI KETERSEDIAAN BERKAS</h4>
    </div>

    <div class="card-body p-0">
        <table class="table">
            <tbody>
               	<tr>
					<td>Berkas: Bukti Pembelian</td>
					<td class="text-right">
					{% if item.requestable.hasPurchase %}
						<i class="fa fa-check-circle text-success"></i>
					{% else %}
						<i class="fa fa-times-circle text-danger"></i>
					{% endif %}
					</td>
               	</tr>

               	<tr>
					<td>Berkas: Kartu Identitas (KTP)</td>
					<td class="text-right">
					{% if item.requestable.hasKtp %}
						<i class="fa fa-check-circle text-success"></i>
					{% else %}
						<i class="fa fa-times-circle text-danger"></i>
					{% endif %}
					</td>
               	</tr>

               	<tr>
					<td>Berkas: Fotocopy Kartu Identitas (KTP)</td>
					<td class="text-right">
					{% if item.requestable.hasKtpCopy %}
						<i class="fa fa-check-circle text-success"></i>
					{% else %}
						<i class="fa fa-times-circle text-danger"></i>
					{% endif %}
					</td>
               	</tr>

               	<tr>
					<td>Berkas: Surat Tanda Nomor Kendaraan (STNK)</td>
					<td class="text-right">
					{% if item.requestable.hasStnk %}
						<i class="fa fa-check-circle text-success"></i>
					{% else %}
						<i class="fa fa-times-circle text-danger"></i>
					{% endif %}
					</td>
               	</tr>

               	<tr>
					<td>Berkas: Fotocopy Surat Tanda Nomor Kendaraan (STNK)</td>
					<td class="text-right">
					{% if item.requestable.hasStnkCopy %}
						<i class="fa fa-check-circle text-success"></i>
					{% else %}
						<i class="fa fa-times-circle text-danger"></i>
					{% endif %}
					</td>
               	</tr>

               	<tr>
					<td>Berkas: Buku Pemilik Kendaraan Bermotor (BPKB)</td>
					<td class="text-right">
					{% if item.requestable.hasBpkb %}
						<i class="fa fa-check-circle text-success"></i>
					{% else %}
						<i class="fa fa-times-circle text-danger"></i>
					{% endif %}
					</td>
               	</tr>

               	<tr>
					<td>Berkas: Fotocopy Buku Pemilik Kendaraan Bermotor (BPKB)</td>
					<td class="text-right">
					{% if item.requestable.hasBpkbCopy %}
						<i class="fa fa-check-circle text-success"></i>
					{% else %}
						<i class="fa fa-times-circle text-danger"></i>
					{% endif %}
					</td>
               	</tr>

               	<tr>
					<td>Berkas: Bukti Cek Fisik Kendaraan Bermotor</td>
					<td class="text-right">
					{% if item.requestable.hasPhysical %}
						<i class="fa fa-check-circle text-success"></i>
					{% else %}
						<i class="fa fa-times-circle text-danger"></i>
					{% endif %}
					</td>
               	</tr>

               	<tr>
					<td>Berkas: Surat Mutasi Keluar Daerah dari Polres Setempat</td>
					<td class="text-right">
					{% if item.requestable.hasMoveLetter %}
						<i class="fa fa-check-circle text-success"></i>
					{% else %}
						<i class="fa fa-times-circle text-danger"></i>
					{% endif %}
					</td>
               	</tr>
            </tbody>
        </table>
    </div>
</div>
