<div class="card">
    <div class="card-header">
        <h4>INFORMASI PENERBITAN</h4>
    </div>

    <div class="card-body">
         <div class="selectgroup w-100">
            <label class="selectgroup-item">
                <input type="radio" name="type" value="new" class="selectgroup-input" {{ item.requestable.type == 'new' ? 'checked' : '' }}>
                <span class="selectgroup-button">Baru</span>
            </label>
            <label class="selectgroup-item">
                <input type="radio" name="type" value="extend" class="selectgroup-input" {{ item.requestable.type == 'extend' ? 'checked' : '' }}>
                <span class="selectgroup-button">Perpanjang</span>
            </label>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h4>INFORMASI KELENGKAPAN BERKAS</h4>
    </div>

    <div class="card-body">
        <div class="form-group">
            <label>Berkas: KTP</label>
            <div class="selectgroup w-100">
                <label class="selectgroup-item">
                    <input type="radio" name="hasKtp" value="1" class="selectgroup-input" {{ item.requestable.hasKtp ? 'checked' : '' }}>
                    <span class="selectgroup-button">Ada</span>
                </label>
                <label class="selectgroup-item">
                    <input type="radio" name="hasKtp" value="0" class="selectgroup-input" {{ item.requestable.hasKtp ? '' : 'checked' }}>
                    <span class="selectgroup-button">Tidak</span>
                </label>
            </div>
        </div>

        <div class="form-group">
            <label>Berkas: STNK Asli</label>
            <div class="selectgroup w-100">
                <label class="selectgroup-item">
                    <input type="radio" name="hasStnk" value="1" class="selectgroup-input" {{ item.requestable.hasStnk ? 'checked' : '' }}>
                    <span class="selectgroup-button">Ada</span>
                </label>
                <label class="selectgroup-item">
                    <input type="radio" name="hasStnk" value="0" class="selectgroup-input" {{ item.requestable.hasStnk ? '' : 'checked' }}>
                    <span class="selectgroup-button">Tidak</span>
                </label>
            </div>
        </div>

        <div class="form-group">
            <label>Berkas: BPKB Asli</label>
            <div class="selectgroup w-100">
                <label class="selectgroup-item">
                    <input type="radio" name="hasBpkb" value="1" class="selectgroup-input" {{ item.requestable.hasBpkb ? 'checked' : '' }}>
                    <span class="selectgroup-button">Ada</span>
                </label>
                <label class="selectgroup-item">
                    <input type="radio" name="hasBpkb" value="0" class="selectgroup-input" {{ item.requestable.hasBpkb ? '' : 'checked' }}>
                    <span class="selectgroup-button">Tidak</span>
                </label>
            </div>
        </div>
    </div>
</div>
