title     = "Ubah Password"
url       = "/u/password"
layout    = "default"
is_hidden = 0

[AdminPassword]
==
function onStart() {
    $this->page->activePage = 'user-password';
}
==
<div class="card">
    <div class="card-body">
        <form data-request="AdminPassword::onSave" data-request-flash>
            <div class="form-group">
                <label>Sandi Lama</label>
                <input type="password" class="form-control" name="password_old">
            </div>

            <div class="form-group">
                <label>Sandi Baru</label>
                <input type="password" class="form-control" name="password">
            </div>

            <div class="form-group">
                <label>Konfirmasi Sandi</label>
                <input type="password" class="form-control" name="password_retype">
            </div>

            <div class="form-group">
                <button class="btn btn-primary btn-block btn-round" type="submit" data-attach-loading>UBAH PASSWORD</button>
            </div>
        </form>
    </div>
</div>
