title     = "Buat Terminal"
url       = "terminal/ubah/:parameter"
layout    = "default"
is_hidden = 0

[AdminTerminal]

[AdminTerminalDetail]
parameter="{{ :parameter }}"
==
function onStart() {
    $this->page->activePage = 'admin-counter';
}
==
{% set counters = AdminTerminal.getCounter %}

{% partial 'button-back' page='terminal/index'|page %}
<div class="card">
    <div class="card-body">
        <form data-request="AdminTerminalDetail::onSave" data-request-flash>
            {% partial 'terminal/form' counters=counters %}

            <div class="form-group">
                <button class="btn btn-primary btn-block btn-round" type="submit" data-attach-loading>SIMPAN</button>
            </div>
        </form>
    </div>
</div>
