title     = "Daftar Terminal"
url       = "terminal"
layout    = "default"
is_hidden = 0

[AdminTerminal]
==
function onStart() {
    $this->page->activePage      = 'admin-counter';
    $this->page->activeChildPage = 'terminal';
}
==
{% set terminals = AdminTerminal.getAll %}

{% partial 'button-add' page='terminal/add'|page %}
<div class="card">
    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table table-striped datatable">
                <tfoot>
                    <tr>
                        <th>Terminal</th>
                        <th>Tanggal</th>
                    </tr>
                </tfoot>

                <thead>
                    <tr>
                        <th>Terminal</th>
                        <th class="text-right">Dibuat pada</th>
                    </tr>
                </thead>

                <tbody>
                    {% for key, terminal in terminals %}
                    <tr>
                        <td>[{{ terminal.counter.name }}] Terminal {{ terminal.number }}
                            <div class="table-links">
                                <a href="{{ 'terminal/edit'|page({parameter: terminal.parameter}) }}">Ubah</a>
                                <div class="bullet"></div>
                                <a href="#" class="text-danger">Hapus</a>
                            </div>
                        </td>
                        <td class="text-right">{{ terminal.created_at|date('Y-m-d H:i') }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% put scripts %}
<link rel="stylesheet" href="{{ [
    'assets/modules/jquery-selectric/selectric.css'
]|theme }}">
<script src="{{ [
    'assets/modules/jquery-selectric/jquery.selectric.min.js',
    'assets/js/page/features-posts.js'
]|theme }}"></script>
{% endput %}
