title     = "Daftar Data Antrian"
url       = "antrian"
layout    = "default"
is_hidden = 0

[AdminQueue]
==
function onStart() {
    $this->page->activePage = 'admin-queue-data';
}
==
{% set queues = AdminQueue.getAll %}

<div class="card">
    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table table-striped datatable">
                <tfoot>
                    <tr>
                        <th>Waktu</th>
                    </tr>
                </tfoot>

                <thead>
                    <tr>
                        <th>Waktu</th>
                    </tr>
                </thead>

                <tbody>
                    {% for queue in queues %}
                    <tr>
                        <td>{{ queue.created_at|date('l, d F Y') }}
                            <div class="table-links">
                                <a href="#">View</a>
                                <div class="bullet"></div>
                                <a href="#">Edit</a>
                                <div class="bullet"></div>
                                <a href="#" class="text-danger">Trash</a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% put scripts %}
<link rel="stylesheet" href="{{ [
    'assets/modules/jquery-selectric/selectric.css'
]|theme }}">
<script src="{{ [
    'assets/modules/jquery-selectric/jquery.selectric.min.js',
    'assets/js/page/features-posts.js'
]|theme }}"></script>
{% endput %}
