url       = "antrian/terminal/:parameter"
layout    = "machine"
is_hidden = 0

[QueueMachineDetail]
parameter="{{ :parameter }}"
==
function onStart() {
    $this->page->activePage = 'admin-queue';
}
==
<div class="hero text-white hero-bg-image mb-4" style="background-image: url({{ 'assets/img/unsplash/eberhard-grossgasteiger-1207565-unsplash.jpg'|theme }});">
    <div class="hero-inner">
        <h2>Selamat datang, {{ userLogin.officer.name }}</h2>
        <p class="lead">Saat ini kamu bertugas untuk melayani pemohon pada loket {{ terminal.counter.name ~ ' Terminal #' ~ terminal.number }}</p>
        <div class="mt-2">
            <a href="{{ 'home'|page }}" class="btn btn-outline-white btn-lg btn-icon icon-left"><i class="fa fa-arrow-left"></i> KEMBALI</a>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4 class="text-uppercase">Daftar Antrian</h4>

                    <a href="#" class="btn btn-link ml-auto"
                        data-request="onRefreshQueueWaiting"
                        data-request-update="'queue/terminal/list-waiting': '[data-target-queue-waitings]'"
                        data-attach-loading
                        data-refresh-waiting>
                        <i class="fa fa-sync"></i>
                    </a>
                </div>

                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Antrian</th>
                                <th>Waktu</th>
                                <th class="text-right"></th>
                            </tr>
                        </thead>

                        <tbody data-target-queue-waitings>
                            {% partial 'queue/terminal/list-waiting' queueWaitings=queueWaitings %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4 class="text-uppercase">Sedang Dilayani</h4>

                    <a href="#" class="btn btn-link ml-auto"
                        data-request="onRefreshQueueHandle"
                        data-request-update="'queue/terminal/list-handle': '[data-target-queue-handles]'"
                        data-attach-loading
                        data-refresh-handle>
                        <i class="fa fa-sync"></i>
                    </a>
                </div>

                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Antrian</th>
                                <th>Terminal</th>
                                <th>Petugas</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody data-target-queue-handles>
                            {% partial 'queue/terminal/list-handle' queueHandles=queueHandles %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div data-target-voice></div>
</div>
