title     = "Buat Petugas"
url       = "petugas/buat"
layout    = "default"
is_hidden = 0

[AdminOfficer]
==
function onStart() {
    $this->page->activePage      = 'admin-officer';
    $this->page->activeChildPage = 'officer';
}
==
{% set officers = AdminOfficer.getAll %}

{% partial 'button-back' page='officer/index'|page %}
<div class="card">
    <div class="card-body">
        <form data-request="onSave" data-request-flash>
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" name="email">
            </div>

            <div class="form-group">
                <label>Sandi</label>
                <input type="password" class="form-control" name="password">
            </div>

            <div class="form-group">
                <button class="btn btn-primary btn-block btn-round" type="submit" data-attach-loading>SIMPAN</button>
            </div>
        </form>
    </div>
</div>
