title     = "Daftar Petugas"
url       = "petugas"
layout    = "default"
is_hidden = 0

[AdminOfficer]
==
function onStart() {
    $this->page->activePage      = 'admin-officer';
    $this->page->activeChildPage = 'officer';
}
==
{% set officers = AdminOfficer.getAll %}

{% partial 'button-add' page='officer/add'|page %}
<div class="card">
    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table table-striped datatable">
                <tfoot>
                    <tr>
                        <th>Email</th>
                        <th>Kode</th>
                        <th>Akses</th>
                        <th>Tanggal</th>
                    </tr>
                </tfoot>

                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Kode</th>
                        <th>Akses</th>
                        <th class="text-right">Dibuat pada</th>
                    </tr>
                </thead>

                <tbody>
                    {% for key, officer in officers %}
                    <tr>
                        <td>{{ officer.user.email }}
                            <div class="table-links">
                                <a href="{{ 'officer/access'|page({parameter: officer.user.parameter}) }}">Pengaturan Hak Akses</a>
                                <div class="bullet"></div>
                                <a href="{{ 'officer/edit'|page({parameter: officer.user.parameter}) }}">Ubah</a>
                                <div class="bullet"></div>
                                <a href="#" class="text-danger">Hapus</a>
                            </div>
                        </td>
                        <td>{{ officer.user.code }}</td>
                        <td>
                            {% for role in officer.user.roles %}
                                {{ role.role.name }} {{ loop.last ? '' : ',' }}
                            {% endfor %}
                        </td>
                        <td class="text-right">{{ officer.created_at|date('Y-m-d H:i') }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% put scripts %}
<link rel="stylesheet" href="{{ [
    'assets/modules/jquery-selectric/selectric.css'
]|theme }}">
<script src="{{ [
    'assets/modules/jquery-selectric/jquery.selectric.min.js',
    'assets/js/page/features-posts.js'
]|theme }}"></script>
{% endput %}
