title     = "Daftar Bagian Petugas"
url       = "petugas/bagian"
layout    = "default"
is_hidden = 0

[AdminSection]
==
function onStart() {
    $this->page->activePage      = 'admin-officer';
    $this->page->activeChildPage = 'officer-section';
}
==
{% set sections = AdminSection.getAll %}

{% partial 'button-add' page='officer-section/add'|page %}
<div class="card">
    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table table-striped datatable">
                <tfoot>
                    <tr>
                        <th>Nama</th>
                        <th>Kode</th>
                        <th>Tanggal</th>
                    </tr>
                </tfoot>

                <thead>
                    <tr>
                        <th>Nama</th>
                        <th>Kode</th>
                        <th class="text-right">Dibuat pada</th>
                    </tr>
                </thead>

                <tbody>
                    {% for key, section in sections %}
                    <tr>
                        <td>{{ section.name }}
                            <div class="table-links">
                                <a href="{{ 'officer-section/edit'|page({parameter: section.parameter}) }}">Ubah</a>
                                <div class="bullet"></div>
                                <a href="#" class="text-danger">Hapus</a>
                            </div>
                        </td>
                        <td>{{ section.code }}</td>
                        <td class="text-right">{{ section.created_at|date('d/m/Y H:i') }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% put scripts %}
<link rel="stylesheet" href="{{ [
    'assets/modules/jquery-selectric/selectric.css'
]|theme }}">
<script src="{{ [
    'assets/modules/jquery-selectric/jquery.selectric.min.js',
    'assets/js/page/features-posts.js'
]|theme }}"></script>
{% endput %}
