<table class="table">
    <tr>
        <th>Kode Permohonan</th>
        <th class="text-right">{{ item.request.code }}</th>
    </tr>
    <tr>
        <td>Status</td>
        <td class="text-right">
            {% if item.status == 'request' %}
                <span class="text-warning">
                    Menunggu Konfirmasi
                </span>
            {% endif %}

            {% if item.status == 'waiting' %}
                <span class="text-warning">
                    Menunggu Kehadiran
                </span>
            {% endif %}

            {% if item.status == 'progress' %}
                <span class="text-info">
                    Sedang diproses
                </span>
            {% endif %}

            {% if item.status == 'finish' %}
                <span class="text-success">
                    Selesai
                </span>
            {% endif %}

            {% if item.status == 'done' %}
                <span class="text-success">
                    Ditutup
                </span>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Layanan</td>
        <td class="text-right">{{ item.service.parent.name }}</td>
    </tr>
    <tr>
        <td>Penerbitan</td>
        <td class="text-right">{{ item.service_name }}</td>
    </tr>
    <tr>
        <td>Tanggal Dibuat</td>
        <td class="text-right">{{ item.created_at|date('Y-m-d H:i') }}</td>
    </tr>
    <tr>
        <td>Tanggal Kehadiran</td>
        <td class="text-right">{{ item.scheduled_at ? item.scheduled_at|date('l, d F Y') : 'Tidak ada data' }}</td>
    </tr>
    <tr>
        <td>Sumber</td>
        <td class="text-right">
            {% if item.channel == 'onsite' %}
            Melalui Loket
            {% endif %}

            {% if item.channel == 'online' %}
            Melalui Aplikasi
            {% endif %}
        </td>
    </tr>
    {% if item.user %}
    <tr>
        <td>Administrator</td>
        <td class="text-right">{{ item.user.officer.name }}</td>
    </tr>
    {% endif %}
</table>
