<div class="row mb-2" data-target-officer>
    <div class="col-10">
        <label for="">Petugas {{ key ? key + 1 : '1' }}</label>
        <select name="user_id[{{ key ? key : '0' }}]" class="form-control select2">
            <option value="">-- Pilih --</option>
            {% for officer in officers %}
            <option value="{{ officer.id }}">{{ officer.name ? officer.name : officer.user.email }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-2">
        <div class="form-group">
            <label>&nbsp;</label>
            <button style="margin-top: 5px" class="btn btn-danger btn-block" type="button" data-remove-officer>
                <i class="fa fa-trash"></i>
            </button>
        </div>
    </div>
</div>
