<div class="card">
    <div class="card-header">
        <h4>INFORMASI DASAR</h4>
    </div>
    <div class="card-body">
        <div class="form-group">
            <label>Jenis Kegiatan</label>
            <input type="text" class="form-control">
        </div>

        <div class="form-group">
            <label>Tujuan Kegiatan</label>
            <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
        </div>

        <div class="form-group">
            <label>Peserta Kegiatan</label>
            <input type="text" class="form-control">
        </div>

        <div class="form-group">
            <label>Lokasi Kegiatan</label>
            <input type="text" class="form-control">
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h4>INFORMASI PENANGGUNG JAWAB</h4>
    </div>
    <div class="card-body">
        <div class="form-group">
            <label>Nama</label>
            <input type="text" class="form-control">
        </div>

        <div class="form-group">
            <label>No. Telepon</label>
            <input type="text" class="form-control">
        </div>

        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control">
        </div>
    </div>
</div>
