<div class="card">
    <div class="card-header">
        <h4>INFORMASI DASAR</h4>
    </div>

    <div class="card-body">
        <div class="form-group">
            <label>Jenis Kegiatan</label>
            <input type="text" class="form-control" name="type">
        </div>

        <div class="form-group">
            <label>Nama Kegiatan</label>
            <input type="text" class="form-control" name="name">
        </div>

        <div class="form-group">
            <label>Tujuan Kegiatan</label>
            <textarea name="purpose" id="" cols="30" rows="10" class="form-control"></textarea>
        </div>

        <div class="form-group">
            <label>Peserta Kegiatan</label>
            <input type="text" class="form-control" name="participant">
        </div>

        <div class="form-group">
            <label>Lokasi Kegiatan</label>
            <input type="text" class="form-control" name="location">
        </div>
    </div>

    <div class="card-header">
        <h4>INFORMASI PENANGGUNG JAWAB</h4>
    </div>
    <div class="card-body">
        <div class="form-group">
            <label>Nama</label>
            <input type="text" class="form-control" name="pic_name">
        </div>

        <div class="form-group">
            <label>No. Telepon</label>
            <input type="text" class="form-control" name="pic_phone">
        </div>

        <div class="form-group">
            <label>Email <span class="text-muted">(Opsional)</span></label>
            <input type="text" class="form-control" name="pic_email">
        </div>
    </div>
</div>

{% partial 'request/form-officer' officers=officers %}

{% partial 'request/button' %}
