<div class="form-group">
    <label>Nama</label>
    <input type="text" class="form-control" name="name" value="{{ unit.name }}">
</div>

<div class="form-group">
    <label>Kode</label>
    <input type="text" class="form-control" name="code" value="{{ unit.code }}">
</div>

<div class="form-group">
    <label>Deskripsi</label>
    <textarea rows="5" class="form-control" name="description">{{ unit.description }}</textarea>
</div>
