<div class="card">
    <div class="card-header">
        <h4>FORMULIR: KASUS KEKERASAN</h4>
    </div>

    <div class="card-body p-0">
        <table class="table">
            <tbody>
               <tr>
                   	<td>Apakah Saudara Pernah Terjerat Kasus Kekerasan?</td>
                   	<td class="text-right">
                        {% if item.requestable.is_violation == 'true' %}
                            Ya
                        {% else %}
                            Tidak
                        {% endif %}
                    </td>
               </tr>

                {% if item.requestable.is_violation == 'true' %}
                <tr>
                   <td colspan="2">
                        <p>Pelanggaran hukum atau norma-norma sosial apa?</p>
                        <p>{{ item.requestable.violation_case }}</p>
                        <br>
                   </td>
                </tr>

                <tr>
                   <td colspan="2">
                        <p>Sampai sejauh mana prosesnya?</p>
                        <p>{{ item.requestable.violation_punishment }}</p>
                        <br>
                   </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
