<div class="card">
    <div class="card-header">
        <h4>FORMULIR: KASUS KRIMINAL</h4>
    </div>

    <div class="card-body p-0">
        <table class="table">
            <tbody>
               <tr>
                   	<td>Apakah Saudara Pernah Terjerat Kasus Kriminal?</td>
                   	<td class="text-right">
                        {% if item.requestable.is_criminal == 'true' %}
                            Ya
                        {% else %}
                            Tidak
                        {% endif %}
                    </td>
               </tr>

               {% if item.requestable.is_criminal == 'true' %}
               <tr>
                   <td colspan="2">
                        <p>Dalam perkara apa?</p>
                        <p>{{ item.requestable.criminal_case }}</p>
                        <br>
                   </td>
               </tr>
               <tr>
                   <td colspan="2">
                        <p>Bagaimana putusannya dan Vonis hukum??</p>
                        <p>{{ item.requestable.criminal_punishment }}</p>
                        <br>
                   </td>
               </tr>
               <tr>
                   <td colspan="2">
                        <p>Apakah saudara sedang dalam proses perkara pidana? Dalam Kasus apa?</p>
                        <p>{{ item.requestable.criminal_punishment_process }}</p>
                        <br>
                   </td>
               </tr>
               <tr>
                   <td colspan="2">
                        <p>Sampai sejauh mana proses hukumnya?</p>
                        <p>{{ item.requestable.criminal_punishment_description }}</p>
                        <br>
                   </td>
               </tr>
               {% endif %}
            </tbody>
        </table>
    </div>
</div>
