<div class="card">
    <div class="card-header">
        <h4>TIPE PENERBITAN</h4>
    </div>

    <div class="card-body">
        <div class="selectgroup w-100">
            <label class="selectgroup-item">
                <input type="radio" name="type" value="new" class="selectgroup-input">
                <span class="selectgroup-button">Baru</span>
            </label>
            <label class="selectgroup-item">
                <input type="radio" name="type" value="extend" class="selectgroup-input">
                <span class="selectgroup-button">Perpanjang</span>
            </label>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h4>INFORMASI KELENGKAPAN BERKAS</h4>
    </div>

    <div class="card-body">
        <div class="form-group">
            <label>Berkas: SKCK</label>
            <div class="selectgroup w-100">
                <label class="selectgroup-item">
                    <input type="radio" name="hasSkck" value="1" class="selectgroup-input">
                    <span class="selectgroup-button">Ada</span>
                </label>
                <label class="selectgroup-item">
                    <input type="radio" name="hasSkck" value="0" class="selectgroup-input">
                    <span class="selectgroup-button">Tidak</span>
                </label>
            </div>
        </div>

        <div class="form-group">
            <label>Berkas: KTP</label>
            <div class="selectgroup w-100">
                <label class="selectgroup-item">
                    <input type="radio" name="hasKtp" value="1" class="selectgroup-input">
                    <span class="selectgroup-button">Ada</span>
                </label>
                <label class="selectgroup-item">
                    <input type="radio" name="hasKtp" value="0" class="selectgroup-input">
                    <span class="selectgroup-button">Tidak</span>
                </label>
            </div>
        </div>

        <div class="form-group">
            <label>Berkas: KK</label>
            <div class="selectgroup w-100">
                <label class="selectgroup-item">
                    <input type="radio" name="hasKk" value="1" class="selectgroup-input">
                    <span class="selectgroup-button">Ada</span>
                </label>
                <label class="selectgroup-item">
                    <input type="radio" name="hasKk" value="0" class="selectgroup-input">
                    <span class="selectgroup-button">Tidak</span>
                </label>
            </div>
        </div>

        <div class="form-group">
            <label>Berkas: Akta Kelahiran / Ijazah Terakhir</label>
            <div class="selectgroup w-100">
                <label class="selectgroup-item">
                    <input type="radio" name="hasAkta" value="1" class="selectgroup-input">
                    <span class="selectgroup-button">Ada</span>
                </label>
                <label class="selectgroup-item">
                    <input type="radio" name="hasAkta" value="0" class="selectgroup-input">
                    <span class="selectgroup-button">Tidak</span>
                </label>
            </div>
        </div>

        <div class="form-group">
            <label>Berkas: Paspor <span class="text-muted">(Bagi pemohonan yang ke Luar Negeri)</span></label>
            <div class="selectgroup w-100">
                <label class="selectgroup-item">
                    <input type="radio" name="hasPaspor" value="1" class="selectgroup-input">
                    <span class="selectgroup-button">Ada</span>
                </label>
                <label class="selectgroup-item">
                    <input type="radio" name="hasPaspor" value="0" class="selectgroup-input">
                    <span class="selectgroup-button">Tidak</span>
                </label>
            </div>
        </div>
    </div>
</div>
